In [9]:
import pandas as pd
air_data = pd.read_csv('Project1CIVE202AirQualityDataSet.csv')
air_data = pd.DataFrame(air_data)
import pandas as pd

air_data_grouped = air_data.groupby('sensor.name')
air_data_pm25 = air_data_grouped.agg(max=('pm2.5_atm', 'max'),
                                                     min=('pm2.5_atm', 'min'),
                                                     mean=('pm2.5_atm', 'mean'),
                                                     median=('pm2.5_atm', 'median'))
air_data_pm25
top5_mean_pm25 = (
    air_data_pm25.sort_values(by = 'mean', ascending = False) 
)
top5_mean_pm25.head(5)

,max,min,mean,median
sensor.name,,,,
Broken Bow,3205.868854,0.019187,928.710593,36.050240
#16 - Richardson County Courthouse,3782.823313,0.243729,700.127342,11.977344
#18 - Southeast District Health Department- Tecumseh,2987.467563,0.140708,613.175352,10.322875
ELVPHD Norfolk HD 4,79.972917,0.307896,13.369492,9.706229
ELVPHD Wisner HD 5,51.984812,0.154271,11.154420,8.464583

In [15]:
top5_med_pm25 = (
    air_data_pm25.sort_values(by = 'median', ascending = False) #.sort_values sorts a specified column
)
top5_med_pm25.head(5)

,max,min,mean,median
sensor.name,,,,
Broken Bow,3205.868854,0.019187,928.710593,36.050240
#16 - Richardson County Courthouse,3782.823313,0.243729,700.127342,11.977344
#18 - Southeast District Health Department- Tecumseh,2987.467563,0.140708,613.175352,10.322875
ELVPHD Norfolk HD 4,79.972917,0.307896,13.369492,9.706229
ELVPHD Wisner HD 5,51.984812,0.154271,11.154420,8.464583

In [11]:
air_data_pm10 = air_data_grouped.agg(max=('pm10.0_atm', 'max'),
                                                     min=('pm10.0_atm', 'min'),
                                                     mean=('pm10.0_atm', 'mean'),
                                                     median=('pm10.0_atm', 'median'))
air_data_pm10
top5_mean_pm10 = (
    air_data_pm10.sort_values(by = 'mean', ascending = False) #.sort_values sorts a specified column
)
top5_mean_pm10.head(5)

,max,min,mean,median
sensor.name,,,,
Broken Bow,3206.779708,0.089917,929.678512,43.179094
#16 - Richardson County Courthouse,3784.682542,0.473583,701.632446,13.305615
#18 - Southeast District Health Department- Tecumseh,2988.441438,0.205729,614.227248,11.433729
NCDHD O'Neill #11,2079.294479,0.291667,166.132578,8.427437
Swnphd-mccook,3054.484250,0.169167,124.227336,5.372073

In [12]:
top5_med_pm10 = (
    air_data_pm10.sort_values(by = 'median', ascending = False) #.sort_values sorts a specified column
)
top5_med_pm10.head(5)

,max,min,mean,median
sensor.name,,,,
Broken Bow,3206.779708,0.089917,929.678512,43.179094
#16 - Richardson County Courthouse,3784.682542,0.473583,701.632446,13.305615
ELVPHD Norfolk HD 4,95.131583,0.756229,15.969341,11.474708
#18 - Southeast District Health Department- Tecumseh,2988.441438,0.205729,614.227248,11.433729
ELVPHD Wisner HD 5,75.461354,0.698958,14.462116,10.935958

In [13]:
air_data_voc = air_data_grouped.agg(max=('voc', 'max'),
                                                     min=('voc', 'min'),
                                                     mean=('voc', 'mean'),
                                                     median=('voc', 'median'))
air_data_voc
top5_mean_voc = (
    air_data_voc.sort_values(by = 'mean', ascending = False) #.sort_values sorts a specified column
)
top5_mean_voc.head(5)

,max,min,mean,median
sensor.name,,,,
Swnphd-ogallala,1209.931571,61.427708,399.434240,423.082292
FCHD-YPS,856.012625,54.998000,372.462720,375.383500
Three Rivers Public Health Department,741.876042,50.000000,370.216208,376.810167
ELVPHD Norfolk HD 4,884.649000,0.000000,360.833744,368.580500
Swnphd-mccook,849.734917,0.000000,353.941581,381.468479

In [14]:
top5_med_voc = (
    air_data_voc.sort_values(by = 'median', ascending = False) #.sort_values sorts a specified column
)
top5_med_voc.head(5)

,max,min,mean,median
sensor.name,,,,
Swnphd-ogallala,1209.931571,61.427708,399.434240,423.082292
Swnphd-mccook,849.734917,0.000000,353.941581,381.468479
Three Rivers Public Health Department,741.876042,50.000000,370.216208,376.810167
FCHD-YPS,856.012625,54.998000,372.462720,375.383500
ELVPHD Norfolk HD 4,884.649000,0.000000,360.833744,368.580500

In [24]:
pm25_max = air_data.loc[
    air_data.groupby("sensor.name")["pm2.5_atm"].idxmax(),
    ["sensor.name", "pm2.5_atm", "date"]
].sort_values(by="pm2.5_atm", ascending=False)

pm25_max.head(1)

                             sensor.name    pm2.5_atm      date
7561  #16 - Richardson County Courthouse  3782.823313  02/18/25

In [25]:
pm10_max = air_data.loc[
    air_data.groupby("sensor.name")["pm10.0_atm"].idxmax(),
    ["sensor.name", "pm10.0_atm", "date"]
].sort_values(by="pm10.0_atm", ascending=False)

pm10_max.head(1)

                             sensor.name   pm10.0_atm      date
7561  #16 - Richardson County Courthouse  3784.682542  02/18/25

In [26]:
voc_max = air_data.loc[
    air_data.groupby("sensor.name")["voc"].idxmax(),
    ["sensor.name", "voc", "date"]
].sort_values(by="voc", ascending=False)

voc_max.head(1)

          sensor.name          voc      date
2391  Swnphd-ogallala  1209.931571  06/24/24

In [29]:
def assign_temperature(temperature):
    if temperature < 32:
        return 'Below Freezing'
    elif 32 <= temperature <= 50:
        return 'Cool'
    elif 51 <= temperature <= 70:
        return 'Warm'
    else:
        return 'Hot' #this line means that if temperature is >71 it is Hot

In [37]:
air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature)
air_data.groupby('temperature_level').agg({
    'pm2.5_atm': ['mean'],
    'pm10.0_atm': ['mean'],
    'voc': ['mean']
})

                    pm2.5_atm  pm10.0_atm         voc
                         mean        mean        mean
temperature_level
Below Freezing     273.698560  276.080794  257.628626
Cool               141.658843  143.074475  285.435146
Hot                 72.309380   73.964812  281.957598
Warm                83.102238   84.021411  255.916308

In [39]:
def assign_humidity(humidity):
    if humidity < 50:
        return 'Low Humidity'
    elif 50 <= humidity <= 80:
        return 'High Humidity'
    else:
        return 'Very High Humidity'
        #this line means that if temperature is >71 it is Hot
air_data['humidity_level'] = air_data['humidity'].apply(assign_humidity)
air_data.groupby('humidity_level').agg({
    'pm2.5_atm': ['mean'],
    'pm10.0_atm': ['mean'],
    'voc': ['mean']
})

                     pm2.5_atm  pm10.0_atm         voc
                          mean        mean        mean
humidity_level
High Humidity        80.874444   82.561133  252.664069
Low Humidity         76.513935   77.880520  279.329347
Very High Humidity  533.786399  536.520850   19.395555

In [40]:
### Apply filters
unhealthy_voc = air_data[air_data['voc']>=25]

unhealthy_events = unhealthy_voc[
    #data has many columns, only want dates, sensor name, and voc
['date', 'sensor.name', 'voc']
    ].sort_values('date')

unhealthy_events.head(10)
## Sort values by date

          date                                        sensor.name         voc
6552  01/01/25                                     SWNPHD-Imerial  377.393125
6571  01/01/25                                    Swnphd-ogallala  522.399333
6570  01/01/25  South Heartland District Health Dept. Superior...  199.845625
6569  01/01/25                Loup Basin Public Health Department  193.350875
6568  01/01/25                                           FCHD-YPS  232.136042
6566  01/01/25                                      Swnphd-mccook  440.842000
6565  01/01/25                                         Broken Bow  236.872083
6564  01/01/25                        WCDHD Arthur High School 28  380.885625
6563  01/01/25                         Ainsworth Public School #9  310.367708
6567  01/01/25              Three Rivers Public Health Department  268.037042